<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myapp.mapper.instance.ProjectInstanceMapper">

    <resultMap id="BaseResultMap" type="com.example.myapp.domain.instance.ProjectInstance">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="baseId" column="base_id" jdbcType="INTEGER"/>
            <result property="instanceId" column="instance_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,base_id,instance_id
    </sql>
</mapper>
