<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myapp.mapper.chanping.ChanpingMapper">

    <resultMap id="BaseResultMap" type="com.example.myapp.domain.project.approval.chanping.Chanping">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="baseId" column="base_id" jdbcType="INTEGER"/>
            <result property="companyMatch" column="company_match" jdbcType="CHAR"/>
            <result property="marketMatch" column="market_match" jdbcType="CHAR"/>
            <result property="isStandard" column="is_standard" jdbcType="CHAR"/>
            <result property="isProduct" column="is_product" jdbcType="CHAR"/>
            <result property="isCustom" column="is_custom" jdbcType="CHAR"/>
            <result property="isOut" column="is_out" jdbcType="CHAR"/>
            <result property="approvalStatus" column="approval_status" jdbcType="CHAR"/>
            <result property="approvalBy" column="approval_by" jdbcType="VARCHAR"/>
            <result property="approvalTime" column="approval_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,base_id,company_match,
        market_match,is_standard,is_product,
        is_custom,is_out,approval_status,
        approval_by,approval_time
    </sql>
</mapper>
